@charset "utf-8";
/* CSS Document */

@import url("reset.css");
body {
}
#HEADER {
	margin:0 auto;
	width:800px;
	height:80px;
}
#HEADER h1 {
}
#WRAPPER {
	margin:0 auto;
	width:800px;
	overflow:auto;
}
#CONTENT {
	margin-left:400px;
	_height:1%;
	padding-top:15px;
	padding-bottom:25px;
}
#CONTENT .BOX {
	width:400px;
	margin:0 auto;
	margin-bottom:10px;
}
#CONTENT .BOX h2 {
	font-size:12px;
	font-family:Arial;
	background-color:#CCCCCC;
	color:#000000;
	text-indent:10px;
	line-height:30px;
	letter-spacing:1px;
}
#CONTENT .BOX p {
	font-size:12px;
	font-family:Arial;
	line-height:18px;
	padding:10px;
	letter-spacing:1px;
}
#SIDE {
	float:left;
	width:400px;
    height: 300px;
	padding-top:15px;
}
#SIDE .BOX {
	width:400px;
	margin:0 auto;
	margin-bottom:10px;
}
#SIDE p {
	font-size:12px;
	font-family:Arial;
	text-align:center;
	padding:10px 20px;
}
#SIDE a {
	text-decoration:none;
	color:#006699;
}
#SIDE a:hover {
	color:#FF6600;
}
#FOOTER {
	clear:both;
	_height:1%;
	margin:0 auto;
	width:800px;
	height:121px;

}
#FOOTER h2 {
	font-size:11px;
	font-family:Arial;
	padding-left:20px;
	padding-top:10px;
	font-weight:normal;
	letter-spacing:1px;
}

#FOOTER th {
	font: bold 11px ;
	sans-serif;
	color: #6D929B;
	border: 1px solid #C1DAD7;
	letter-spacing: 2px;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background: #CAE8EA url(images/bg_header.jpg) no-repeat;
}

#FOOTER th.nobg {
	background: none;
}
The headers on the left that appear as rows (the specification headers) have alternating styles:


The table cells that hold the technical specifications of each Power Mac G5 also have alternating styles:

#FOOTER td {
	border: 1px solid #C1DAD7;

	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #6D929B;
}


#FOOTER td.alt {
	border: 1px solid #C1DAD7;
	background: #F5FAFA;
	color: #B4AA9D;
}
