@import 'reset.css';

@charset "utf-8";

body {
	background-color:ADADAD;
}
HEADER {
	margin:0 auto;
	width:900px;
	height:131px;
}
WRAPPER {
	margin:0 auto;
	width:880px;
	padding:0 10px;
	overflow:auto;
}
CONTENT {
	margin-left:170px;
	_height:1%;
}
SIDE {
	float:left;
	width:170px;
}
FOOTER {
	clear:both;
	_height:1%;
	margin:0 auto;
	width:900px;
	height:121px;
}
