@import 'reset.css';

@charset "utf-8";

body {
	background-color:ADADAD;
}
HEADER {
	margin:0 auto;
	width:900px;
	height:131px;
}
WRAPPER {
	margin:0 auto;
	width:800px;
	padding:0 10px;
	overflow:auto;
}
CONTENT {
	margin:0 auto;
	_height:1%;
}
SIDE {
	float:left;
}
FOOTER {
	clear:both;
	_height:1%;
	margin:0 auto;
	width:900px;
}
